In [33]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select
from selenium.webdriver.chrome.service import Service

import time
import pandas as pd
import requests
import numpy as np
import csv

pd.set_option('display.max_colwidth', 20)

In [34]:
# read csv
df = pd.read_csv("../data/cleaned/Posts_Industry.csv")
df.head()

,Unnamed: 0,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack
0,0,Senior Python De...,Citi,permanent,NaN,Job Description ...,['Banking/Accoun...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,{'jasminkarma ju...,set()
1,1,Senior Partner S...,Amazon,permanent,NaN,Job Description ...,['Internet/E-com...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,"{'microsoft', 'a...",set()
2,2,IT Technician,Ascend Com Pte. ...,permanent,"['Switches', 'Ma...",Responsibilities...,['Corporate offi...,2022-02-19,https://www.mons...,monster,24000.0,36000.0,2.0,5.0,responsibilities...,{'lan wan'},"{' Windows 7', '..."
3,3,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Key Responsibili...,['Semi conductor...,2022-02-19,https://www.mons...,monster,42000.0,84000.0,2.0,5.0,key responsibili...,{'daytoday'},{' Problem Solvi...
4,4,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Has developed sp...,['Semi conductor...,2022-02-19,https://www.mons...,monster,46800.0,93600.0,2.0,5.0,has developed sp...,set(),{' Problem Solvi...

In [35]:
# Convert string to list
def str_list(text):
    if text == 'NaN':
        return np.nan
    
    text = text.replace('[', '')
    text = text.replace(']', '')
    text = text.replace("'", '')
    mid_working = text.strip().split(',')
    to_be_returned = mid_working[0]
    return to_be_returned

In [36]:
# extract company and industry 
com_industry = df[['company_name', 'industry']]
com_industry.drop_duplicates(inplace=True)
com_industry['industry'] = com_industry['industry'].apply(lambda x: str_list(str(x)))
com_industry

<ipython-input-36-e762d862ddd2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_industry.drop_duplicates(inplace=True)
<ipython-input-36-e762d862ddd2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  com_industry['industry'] = com_industry['industry'].apply(lambda x: str_list(str(x)))

              company_name             industry
0                     Citi  Banking/Accounti...
1                   Amazon  Internet/E-commerce
2      Ascend Com Pte. ...     Corporate office
3      Applied Material...  Semi conductor s...
7      Recruit Expert P...  Employment agenc...
...                    ...                  ...
11417  Global Fashion G...  Training centre ...
11431              Epsilon  Management consu...
11443                 2C2P  Software company...
11445             Quilt.AI                 None
11446  Zoku Integrated ...                 None

[2235 rows x 2 columns]

## Check & clean data

In [6]:
# check for number of unique companies
len(com_industry['company_name'].unique())

2235

In [7]:
df_combine = com_industry.groupby('company_name').agg(sum).reset_index()
df_combine

             company_name             industry
0         Hitachi Vantara  [Database manage...
1        Novade Solutions  [Software compan...
2          Partners Group  [Financial insti...
3               1exchange               [None]
4     21 United Holdin...               [None]
...                   ...                  ...
2230                iZeeM  [Business to bus...
2231        iZeno Pte Ltd               [None]
2232       page personnel  [IT/Software Dev...
2233       the LEGO Group        [Toy company]
2234              zendesk           [ITES/BPO]

[2235 rows x 2 columns]

In [8]:
def remove_irrelevant(text_list):
    
    cleaned_list = []
    for i in text_list:
        if i != 'nan' and i != 'Other':
            cleaned_list.append(i)
            
    if len(cleaned_list) == 0:
        return None
            
    return cleaned_list

In [9]:
df_combine['industry'] = df_combine['industry'].apply(lambda x: remove_irrelevant(x))
df_combine

             company_name             industry
0         Hitachi Vantara  [Database manage...
1        Novade Solutions  [Software compan...
2          Partners Group  [Financial insti...
3               1exchange               [None]
4     21 United Holdin...               [None]
...                   ...                  ...
2230                iZeeM  [Business to bus...
2231        iZeno Pte Ltd               [None]
2232       page personnel  [IT/Software Dev...
2233       the LEGO Group        [Toy company]
2234              zendesk           [ITES/BPO]

[2235 rows x 2 columns]

In [10]:
scrape_df = df_combine[df_combine['industry'].isnull()]
scrape_df

            company_name industry
970  Infosight Softwa...     None

## Scrape Industry

In [20]:
url = "https://www.google.com.sg/search?q=google.com&source=hp&ei=GJtBYo-vNPKKr7wPq72NmAI&iflsig=AHkkrS4AAAAAYkGpKKctBnYlyKka_pAywfzdvHQ8ymzH&ved=0ahUKEwiPm-CG2ej2AhVyxYsBHateAyMQ4dUDCAk&uact=5&oq=google.com&gs_lcp=Cgdnd3Mtd2l6EAMyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOhEILhCABBCxAxCDARDHARDRAzoOCC4QgAQQsQMQxwEQowI6CAguELEDEIMBOggIABCABBCxA1CmGFjcIGD_IWgBcAB4AoABlAGIAbwEkgEDOC4ymAEAoAEBsAEA&sclient=gws-wiz"
driver = webdriver.Chrome(service=Service("C:/chrome/chromedriver.exe"))
driver.get(url)

In [108]:
wait = WebDriverWait(driver, 5)

def scrape_industry(company):
    
    time.sleep(1)
    
    try:
        # Enter in company
        driver.find_element(By.CSS_SELECTOR, '#tsf > div:nth-child(1) > div.A8SBwf > div.RNNXgb > div > div.dRYYxd > div.BKRPef.M2vV3').click()
        search = driver.find_element(By.NAME, "q")
        search.send_keys(company)
        driver.find_element(By.CLASS_NAME,'Tg7LZd').click()
    
    except: 
        pass
    
    try:
        # find industry
        wait.until(EC.presence_of_element_located((By.CLASS_NAME, 'YhemCb')))
        industry = driver.find_element(By.CLASS_NAME, 'YhemCb').text

        return [industry]
    except: 
        pass
    
    try: 
        wait.until(EC.presence_of_element_located((By.XPATH, '/html/body/div[7]/div/div[10]/div[2]/div/div/div[2]/div/div[1]/div/div[1]/div/div/div[2]/div')))
        industry = driver.find_element(By.XPATH, '/html/body/div[7]/div/div[10]/div[2]/div/div/div[2]/div/div[1]/div/div[1]/div/div/div[2]/div').text

        return [industry]
    
    except:
        print(company)
        return [None]

In [22]:
count = 0

for i, row in scrape_df.iterrows():
    company = row['company_name']
    industry = scrape_industry(company)
    row['industry'] = industry
    
    if count % 50 == 1:
        time.sleep(3)
    
    count += 1

1exchange
21 United Holdings Pte. Ltd.
360f (singapore) Pte. Ltd.
3star Consulting Pte. Ltd.
5 Stones Hrm Pte. Ltd.
99 Group
A1g0 Pte. Ltd.
ALPHALAB CAPITAL PTE. LTD.
Abeam Consulting (singapore) Pte. Ltd.
Aber Care Pte. Ltd.
Aboitiz Data Innovation Pte. Ltd.
Accedo.tv
Accenture Sg Services Pte. Ltd.
Acronis Asia Research And Development Pte. Ltd.
Ad Astra Consultants Private Ltd.
Advance Recruitment Pte. Ltd.
Affinidi
Airbus pioneers
Airtrunk Singapore Pte. Ltd.
Alibaba Cloud (singapore) Private Limited
Allegis Global Solutions (singapore) Pte. Ltd.
Allied Outsourcing Services Pte. Ltd.
Alpha Impact
Alphalab Capital Pte. Ltd.
Alumni Services Pte. Ltd.
Alvisual Pte. Ltd.
Ampstek
Anchor Global Consulting Pte. Ltd.
Anotech Energy Singapore Pte. Ltd.
Antaes Asia Pte. Ltd.
Apex Employment Agency (pte.) Ltd.
Applied Value Technologies Pte. Ltd.
Aquient Pte. Ltd.
Ariston Services Pte. Ltd.
Artefact
Asia Innovatory Management School
Asia Wealth Platform Pte. Ltd.
Asian Fintech
Aspial Corporate Services Pte. Ltd.
Astek Singapore Innovation Technology Pte. Ltd.
Audience On Demand
Aurumjin Consulting Pte. Ltd.
Automata Network
Avatar Techno Services Pte. Ltd.
Avnet Asia Pte Ltd
Awadh Pte. Ltd.
Az Telecommunications Pte. Ltd.
B1 Services Hk Limited (singapore Branch)
Backbase Asia-pacific Pte. Ltd.
Balthazar NFT Gaming
Bamboo System Technology Pte. Ltd.
Barclays Execution Services Limited Singapore Branch
Bbdo Singapore Pte Ltd
Beenet Singapore Pte Ltd
Bhudeva Pte. Ltd.
Bigtapp Pte. Ltd.
BitMEX
Bloomberg Singapore Pte. Ltd.
Borneo
Busy Tables Private Limited
Bytecenture Consulting Pte. Ltd.
Bytedance Pte. Ltd.
Ca Accountants International Pte. Ltd.
Ca Tax Consultants Pte. Ltd.
Cag Regional Singapore Pte. Ltd.
Capitaland Business Services Pte. Ltd.
Capitaland Investment Limited
Cardioscan Asia Pte. Ltd.
Cardspal Pte. Ltd.
Carecone Pte. Ltd.
Chainstack Pte. Ltd.
Charleskeith.com Pte. Ltd.
Chartwell Associates Pte. Ltd.
Checkout Apac Pte. Ltd.
Cheil Singapore Pte. Ltd.
Chubb Asia Pacific Pte. Ltd.
Cimb Bank Berhad
Circles Life Technology Pte. Ltd.
Circular (YC W22)
Cisco International Limited Singapore Branch
Citrix Systems Singapore Pte. Ltd.
Clearwater Analytics Singapore Private Limited
Cloopen Singapore Pte. Ltd.
Cloud & Victory Pte. Ltd.
Cloud Health Pte. Ltd.
Cloud Network Technology Singapore Pte. Ltd.
CloudCover
Cloudcover Pte. Ltd.
Cloudera Singapore Pte. Ltd.
Cloudwall Capital Sg Pte. Ltd.
Clps Technology (singapore) Pte. Ltd.
Cm Telecom Singapore Private Limited
Cms Cameron Mckenna Nabarro Olswang (singapore) Llp
Cobo
Coens Energy Pte. Ltd.
CoinGecko
Coinbase Singapore Pte. Ltd.
Coinhako
Connected Freight Pte. Ltd.
Contour
Copperco Consultants Singapore Pte. Ltd.
Coupang Asia Holdings Pte. Ltd.
Cpr Vision Management Pte Ltd
Crayon
Cxc Singapore Pte. Ltd.
Cybereason Singapore Pte. Ltd.
DFS Group
DOO CAPITAL MARKET SG PTE. LTD.
Danpac Markets Pte. Ltd.
Dataiku Pte. Ltd.
Datature
Dathena
Dbs Bank Ltd.
Dc Frontiers Pte. Ltd.
Ddog Singapore Pte. Ltd.
De-factors Consultants
DeGate
Delfers Business Solutions Pte. Ltd.
Delivery Hero Apac Pte. Limited
Deloitte Consulting Pte. Ltd.
Denodo
Dentsu Solutions Pte. Ltd.
Dfs Venture Singapore (pte) Limited
Dh Financial Services Apac Holding Pte. Ltd.
Digital Services Sg Six Pte. Ltd.
Direct Search Asia Pte. Ltd.
Dkatalis Private Limited
Docusign International (asia-pacific) Private Limited
Dolphin Dynamics Labs Pte. Ltd.
Doo Capital Market Sg Pte. Ltd.
Dsbj Pte. Ltd.
Duo Studio Pte. Ltd.
Durapower Holdings Pte. Ltd.
Dynacyte Biosciences Pte. Ltd.
Dynamic Human Capital Pte. Ltd.
EZ-Link
Ea Recruitment Pte. Ltd.
Eco Friendly Tower Pte. Ltd.
Elakk Technologies Pte. Ltd.
Em2ai Pte. Ltd.
Embed
Ember Recruitment Pte. Ltd.
Encounters Pte. Ltd.
Enuit Pte. Ltd.
Ethos Search Associates Pte. Ltd.
Evagroup Asia Pacific Pte. Ltd.
Evantek
Evantek Pte Ltd
Everbridge Asia Pte. Ltd.
Evident Scientific Singapore Pte. Ltd.
Exoduspoint Capital Management Singapore, Pte. Ltd.
FNZ Group
FWD Life Insurance Corporation
Facebook Singapore Pte. Ltd.
FinAccel
Find Infotech Services Pte. Ltd.
Finlync Private Limited
Fis Technology Services Singapore Pte. Ltd.
Fixed & Mobile Pte. Ltd.
Forbis Human Capital Pte. Ltd.
Frasers Property Corporate Services Pte. Ltd.
Ftse International Limited Singapore Branch
Fugro Properties Pte. Ltd.
Fullerton Health
GOOD FOR FOOD PTE. LTD.
GSR
Gain City Digital Innovations Pte. Ltd.
Gain City Engineering (m&e) Pte Ltd
Generation Singapore
Gfin Services (s) Pte. Ltd.
Giant Recruitment Pte. Ltd.
GitLab
Glints Singapore Pte. Ltd.
Global Fashion Group
Global Notification Solutions Pte. Limited
GoalKeepin
Goldbox Technologies Pte. Limited
Goldman Sachs Services (singapore) Pte. Ltd.
Good For Food Pte. Ltd.
Gotruck Pte. Ltd.
Grabinsure Insurance Agency (s) Pte. Ltd.
Grabinvest Asia Pte. Ltd.
Grablink Pte. Ltd.
Grafana Labs
Grasshopper Pte. Ltd.
Great Sg Pte. Ltd.
Greatsolutions Pte. Ltd.
Green Light Professional Services (singapore) Pte. Ltd.
Green Link Digital Bank Pte. Ltd.
Greenbeen Technology Services Private Limited
Greyfoo Pte. Ltd.
Growth Central VC
Gs Digital Ventures Pte. Ltd.
H-kare Solutions Pte. Ltd.
Harbour Group (singapore) Pte. Ltd.
Hashicorp (singapore) Pte. Ltd.
HeHealth
Healthmetrics Singapore Pte. Ltd.
Hephaestus Technologies Pte. Ltd.
Hewlett-packard Singapore (sales) Pte. Ltd.
Hey Cloud Technology Pte. Ltd.
Hillrom
Hogarth Worldwide
Home Box Office (singapore) Pte Ltd
Horizon Software Pte. Ltd.
Horizons Hvl Singapore Pte. Ltd.
Hr Exchange Pte. Ltd.
Htc Software Singapore Pte Ltd
Huawei Consumer Business Group
Hubbed Pte. Ltd.
Hyperscal Solutions Pte. Ltd.
Hypotenuse Technologies Pte. Ltd.
IFSC
IFUN SINGAPORE PTE. LTD
IKAS INTERNATIONAL (ASIA) PTE. LTD.
INTEREL
INVESTCLOUD PTE. LTD.
Ibm Global Services Pte. Ltd.
Ibm Services Talent Delivery Pte. Ltd.
Icf International Pte. Ltd.
Icon Services Pte. Ltd.
Idc Technologies (singapore) Pte. Ltd.
Ifsc Pte. Ltd.
Ifun Singapore Pte. Ltd.
Igine Pte Ltd
Iitmatrix Pte. Ltd.
Ikas International (asia) Pte. Ltd.
Ikigai Enablers Pte. Ltd.
Illumina Singapore Pte. Ltd.
Incodwetrust Pte. Ltd.
Income
Inetum Singapore Branch
Infiniti Marine Pte. Ltd.
Information Officer Pte. Ltd.
Infotect Security Pte. Ltd.
Ingram Micro Asia Pte. Ltd.
Innovative Consulting Pte. Ltd.
Intellectuals Consulting Pte. Ltd.
Investcloud Pte. Ltd.
Io3 Pte. Ltd.
Itrs Asia Pte. Ltd.
Ivxs Technology Sg Pte. Ltd.
Jcdecaux Out Of Home Advertising Pte. Ltd.
Jera Asia Private Limited
Job Lions Pte. Ltd.
John Ethans International Pte. Ltd.
Johnson & Johnson
Jones Lang Lasalle Technology Services Pte. Ltd.
Jst Digital Trading & Technology Pte. Ltd.
Julian Grey Corporate Advisory Pte. Ltd.
KRYPTONDATA TECHNOLOGY PTE. LTD.
Karooooo Management Company Pte. Ltd.
Kewmann Pte. Ltd.
Keyson Epm Asia Pte. Ltd.
Kiddo Sports Pte. Ltd.
Kpler
Kraken Digital Asset Exchange
Kris Infotech Pte. Ltd.
KrisShop
Kryptondata Technology Pte. Ltd.
KuCoin Exchange
Kyndryl (singapore) Pte. Ltd.
LOGICFOCUS TECHNOLOGY SOLUTIONS PTE. LTD.
Lac Co., Ltd. Singapore Branch
Lancore Merchant Services Pte. Ltd.
Land Transport Authority (LTA) Singapore
Lazada Singapore Pte. Ltd.
Lazada South East Asia Pte. Ltd.
Lc Ecommerce Pte. Ltd.
Leonie Hill Ai
Liberty Wireless Pte. Ltd.
Life Technologies Holdings Pte. Ltd.
Liftoff Mobile Pte. Ltd.
Logicmonitor Asia Pacific Pte. Ltd.
Logistyx Technologies Asia Pte. Ltd.
Lomotif Private Limited
LotusFlare
MI-GSO | PCUBED
MICRO CLOUD TECHNOLOGY PTE. LTD.
MICRON SEMICONDUCTOR ASIA OPERATIONS PTE. LTD.
MOTIONAL SINGAPORE PTE. LIMITED
Machspeed Human Resources Pte. Ltd.
Maersk Singapore Pte. Ltd.
Maestro Human Resource Pte. Ltd.
Mangosteen Bcc Pte. Ltd.
Manja Technologies Pte. Ltd.
Mapbox
Mapleblossom
Marketnode
Marketnode Pte. Ltd.
Mary Buffett Business Pte. Ltd.
Matrix Process Automation Pte. Ltd.
Matrixport
MavenTree Technology
Melior Pte. Ltd.
Menrva Pte. Ltd.
Metaco Singapore Pte. Ltd.
Methodist Welfare Services
Micro Cloud Technology Pte. Ltd.
Micron Semiconductor Asia Operations Pte. Ltd.
Microsoft Operations Pte Ltd
Milvik Singapore Pte. Ltd.
Mind Pointeye Pte. Ltd.
Minden International Pte. Ltd.
Mindmap Technologies Pte. Ltd.
Mixpanel Apac Pte. Ltd.
Monetise Pte. Ltd.
Moneysmart Singapore Pte. Ltd.

Mongodb Singapore Pte. Ltd.
Moody's Analytics Singapore Pte. Ltd.
Motional Singapore Pte. Limited
Mqjc Technology Pte. Ltd.
Mr Singapore Pte. Ltd.
Msights Asia Pacific Pte. Ltd.
NTUC Enterprise Co-operative Limited
NTUC LearningHub
Nalagenetics Pte. Ltd.
Natsoft Asia Pte. Ltd.
Ncs Communications Engineering Pte. Ltd.
Nec Corporation India Private Limited Singapore Branch
Neo4j
Neo4j Singapore Pte. Ltd.
Net6tem Pte. Ltd.
Network Guard
Network Guard Pte. Ltd.
Neuroncredit Pte. Ltd.
New Bit Technology Pte. Ltd.
New Relic Singapore Pte. Ltd.
Nexmo Pte. Ltd.
Nice Systems (singapore) Pte. Ltd.
Ninja Logistics sdn bhd
Nortonlifelock Singapore Pte. Ltd.
Ntt Singapore Pte. Ltd.
Ntuc Income Insurance Co-operative Ltd
Nyan Heroes
Okbl Pte. Ltd.
Oldendorff Carriers (singapore) Pte. Ltd.
One North Consulting Pte. Ltd.
Onyx Sg Pte. Ltd.
Open Fabric
Opsis Pte. Ltd.
Oracle Global Services Singapore Pte. Ltd.
Orange Business Services Singapore Pte. Ltd.
Outsystems Singapore Pte. Ltd.
Ox Consultancy Pte. Ltd.
PARITYBIT TECHNOLOGIES PTE. LTD.
PORTOFINO TECHNOLOGIES SINGAPORE PRIVATE LIMITED
PSA Singapore
Pace Enterprise Pte. Ltd.
Pactera Edge Technologies Singapore Pte. Ltd.
Paradigm Recruitment Pte. Ltd.
Paritybit Technologies Pte. Ltd.
Parlour Group Pte. Ltd.
Pattern®
Pearl Care Singapore Pte. Ltd.
People 2.0 Singapore Pte. Ltd.
Phemex
Pinpoint Asia Infotech Pte. Ltd.
Platform&co Pte. Ltd.
Pluang
Portofino Technologies Singapore Private Limited
Pragma Pte. Ltd.
Pricewaterhousecoopers Risk Services Pte. Ltd.
Prive Services Singapore Pte. Ltd.
Proofpoint Singapore Pte. Ltd.
PropertyGuru
Psa Corporation Limited
Pundi X Labs Pte. Ltd.
Pwc Digital Services Pte. Ltd.
Qsl Technologies Pte. Ltd.
Quantexa Pte. Ltd.
Quess Selection & Services Pte. Ltd.
Quilt.AI
Rackspace Singapore Pte. Ltd.
Rahi Systems Pte. Ltd.
Real Estate Analytics Pte. Ltd.
Recorded Future Pte. Ltd.
Recruit Express Pte Ltd
Recruitflash Pte. Ltd.
Red Dot Analytics Pte. Ltd.
Reddio
Req Technology Consulting Pte. Ltd.
Resonant Networks Pte. Ltd.
Resource Hunt Pte. Ltd.
Rida
Rida Global Pte. Ltd.
Ridik Pte. Ltd.
Rootant Global Pte. Ltd.
Rv Sg Pte. Ltd.
SG - Digital
Saksoft Pte Limited
Schneider Electric Asia Pte. Ltd.
Schneider Electric Singapore Pte. Ltd.
Scloud Pte. Ltd.
Scratchbac
Screening Eagle Dreamlab Pte. Ltd.
Seagate Singapore International Headquarters Pte. Ltd.
Secretlab
Security Spectrum Services Limited Liability Partnership
Select 4 Pte. Ltd.
Sephora SEA
Serai
Servian
Shaw Services (pte) Limited.
Shopline Commerce Pte. Ltd.
Siemens Pte. Ltd.
Sinch Singapore Pte. Ltd.
Singapore Airlines Limited
Singapore Life Ltd.
Singapore Pools (private) Limited.
Singhealth Polyclinics
Singtel Mobile Singapore Pte. Ltd.
Singularity Data
Sino Elite M.i.c.e Services Pte. Ltd.
Smrt Trains Ltd.
Solvay Specialty Chemicals Asia Pacific Pte. Ltd.
Somethinc - BeautyHaul
Sony Electronics (singapore) Pte. Ltd.
Sourced (singapore) Pte. Ltd.
Southern Graphic Systems Singapore Pte. Ltd.
Sparkoo Technologies Singapore Pte. Ltd.
Sph Media Limited
Sqreem Technologies Private Limited
Squarepoint Operations Private Limited
St Engineering Management Services Pte. Ltd.
St Engineering Mission Software & Services Pte. Ltd.
St Telemedia Cloud Pte. Ltd.
Stacktech Pte. Ltd.
Staffondemand Pte. Ltd.
Stemly Pte. Ltd.
Stmicroelectronics Pte Ltd
Straitdeer Pte. Ltd.
Stripe Payments Singapore Pte. Ltd.
Structo Pte. Ltd.
Supermetrics
Symphony
Synthesis
T-recs.ai Pte. Ltd.
Talent-merge Pte. Ltd.
Talentsis Pte. Ltd.
Tangspac Consulting Pte Ltd
Tauren Pte. Ltd.
Tealium Pte. Ltd.
Techknowledgey Pte. Ltd.
Techmatrix Pte. Ltd.
Tek Village Pte. Ltd.
The Assembly Place Pte. Ltd.
The Learning Lab
Three Fins Pte. Ltd.
TikTok
Toffs Technologies Pte. Ltd.
Tokopedia Pte. Ltd.
Tp Icap Management Services (singapore) Pte. Ltd.
Traveloka Technology Pte. Ltd.
Treehouse Analytics Pte. Ltd.
Triton Ai Pte. Ltd.
True Yoga Pte. Ltd.
Truffle Technologies
Trust Bank Singapore Limited
Tumalon Katak Salahkar Pte. Ltd.
Twilio Singapore Pte. Ltd.
Uilicious
Uipath Pte. Ltd.
User Experience Researchers Pte. Ltd.
Vantage Data Centers
Vaxanda Pte. Ltd.
Vega Solutions Pte. Ltd.
Venture International Pte. Ltd.
Verition Fund Management LLC
Virspatial Technology Singapore Pte. Ltd.
Vulcan Ai Pte. Ltd.
Vulcan-AI
Vvv Employment Agency
WOO Network
WWT APJ-SINGAPORE PTE. LTD.
WalWalt Disney
WarnerMedia
Waste Labs
Watchtowr Pte. Ltd.
Wechain Fintech Pte. Ltd.
Whale Cloud Singapore Pte. Ltd.
Wilhelmsen Port Services (s) Pte. Ltd.
Wipro Networks Pte. Limited
Wmedia Pte. Ltd.
Woodlands Health Campus
Workplace from Meta
XRVision.ai
Xero (singapore) Pte. Ltd.
Xtremax Pte. Ltd.
Xylem Water Solutions Singapore Pte. Ltd.
Yardstick (pte. Ltd.)
Yin Corporate Services Pte Ltd
Yojee Ops Pte. Ltd.
YouTrip
Yugabyte
Zalora
Zoku Integrated Commerce
Zsc Holdings Limited Singapore Branch
Zuellig Pharma
Zuellig Pharma Holdings Pte. Limited

In [32]:
scrape_df

             company_name             industry
0         Hitachi Vantara  [Database manage...
1        Novade Solutions  [Software compan...
2          Partners Group  [Financial insti...
3               1exchange               [None]
4     21 United Holdin...               [None]
...                   ...                  ...
2228  i-Sprint Innovat...  [Construction co...
2229  iVS – Intelligen...  [Software compan...
2230                iZeeM  [Business to bus...
2231        iZeno Pte Ltd               [None]
2233       the LEGO Group        [Toy company]

[1755 rows x 2 columns]

## Merge result to original dataframe

In [33]:
final_df = pd.concat([df_combine[df_combine['industry'].isnull() == False], scrape_df])
final_df

             company_name             industry
22                    AAX  [Financial Servi...
23            ABB Limited  [Electronics Man...
26                  AECOM  [Construction & ...
29              AIA Group          [Insurance]
32                    AMD  [Semiconductor, ...
...                   ...                  ...
2228  i-Sprint Innovat...  [Construction co...
2229  iVS – Intelligen...  [Software compan...
2230                iZeeM  [Business to bus...
2231        iZeno Pte Ltd               [None]
2233       the LEGO Group        [Toy company]

[2235 rows x 2 columns]

In [94]:
for i, row in final_df.iterrows():
    company = row['company_name']
    df['industry'].loc[df['company_name'] == company] = str(row['industry'])

In [99]:
df

,Unnamed: 0,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack
0,0,Senior Python De...,Citi,permanent,NaN,Job Description ...,['Banking/Accoun...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,{'jasminkarma ju...,set()
1,1,Senior Partner S...,Amazon,permanent,NaN,Job Description ...,['Internet/E-com...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,"{'microsoft', 'a...",set()
2,2,IT Technician,Ascend Com Pte. ...,permanent,"['Switches', 'Ma...",Responsibilities...,['Corporate offi...,2022-02-19,https://www.mons...,monster,24000.0,36000.0,2.0,5.0,responsibilities...,{'lan wan'},"{' Windows 7', '..."
3,3,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Key Responsibili...,['Semi conductor...,2022-02-19,https://www.mons...,monster,42000.0,84000.0,2.0,5.0,key responsibili...,{'daytoday'},{' Problem Solvi...
4,4,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Has developed sp...,['Semi conductor...,2022-02-19,https://www.mons...,monster,46800.0,93600.0,2.0,5.0,has developed sp...,set(),{' Problem Solvi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11443,2896,DevOps Engineer,2C2P,Permanent,"['GitLab', 'HTTP...",2C2P is looking ...,['Software compa...,2022-01-11,https://www.node...,nodeflair,7000.0,10000.0,NaN,3.0,is looking for ...,"{'amazon web', '...","{' GitLabCI', ' ..."
11444,2897,DevOps Engineer,FINXFLO,Permanent,"['Strategy', 'Sh...",Alpha Stone Capi...,['Bank in Singap...,2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,NaN,alpha stone capi...,set(),"{'Strategy', ' S..."
11445,2898,DevOps Engineer,Quilt.AI,Permanent,"['Next.js', 'Doc...",As part of a gro...,[None],2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,3.0,as part of a gro...,set(),"{' Cloudflare', ..."
11446,2899,Software Engineer,Zoku Integrated ...,Permanent,"['API', 'Magento...",We are hiring so...,[None],2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,3.0,we are hiring so...,set(),"{'API', ' Magent..."
11447,2900,Sr. Site Reliabi...,Xiaomi Technology,Permanent,"['MapReduce', 'A...",Job Requirement：...,['Consumer elect...,2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,NaN,job requirement ...,{'grafana ganglia'},"{' yarn', 'MapRe..."

In [100]:
# convert to csv
df.to_csv('../data/cleaned/Posts_Industry.csv', index=False)

# Cleaning

In [69]:
df = pd.read_csv('../data/cleaned/Posts_Industry.csv')
df

,Unnamed: 0,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack
0,0,Senior Python De...,Citi,permanent,NaN,Job Description ...,['Banking/Accoun...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,{'jasminkarma ju...,set()
1,1,Senior Partner S...,Amazon,permanent,NaN,Job Description ...,['Internet/E-com...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,"{'microsoft', 'a...",set()
2,2,IT Technician,Ascend Com Pte. ...,permanent,"['Switches', 'Ma...",Responsibilities...,['Corporate offi...,2022-02-19,https://www.mons...,monster,24000.0,36000.0,2.0,5.0,responsibilities...,{'lan wan'},"{' Windows 7', '..."
3,3,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Key Responsibili...,['Semi conductor...,2022-02-19,https://www.mons...,monster,42000.0,84000.0,2.0,5.0,key responsibili...,{'daytoday'},{' Problem Solvi...
4,4,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Has developed sp...,['Semi conductor...,2022-02-19,https://www.mons...,monster,46800.0,93600.0,2.0,5.0,has developed sp...,set(),{' Problem Solvi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11443,2896,DevOps Engineer,2C2P,Permanent,"['GitLab', 'HTTP...",2C2P is looking ...,['Software compa...,2022-01-11,https://www.node...,nodeflair,7000.0,10000.0,NaN,3.0,is looking for ...,"{'amazon web', '...","{' GitLabCI', ' ..."
11444,2897,DevOps Engineer,FINXFLO,Permanent,"['Strategy', 'Sh...",Alpha Stone Capi...,['Bank in Singap...,2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,NaN,alpha stone capi...,set(),"{'Strategy', ' S..."
11445,2898,DevOps Engineer,Quilt.AI,Permanent,"['Next.js', 'Doc...",As part of a gro...,[None],2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,3.0,as part of a gro...,set(),"{' Cloudflare', ..."
11446,2899,Software Engineer,Zoku Integrated ...,Permanent,"['API', 'Magento...",We are hiring so...,[None],2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,3.0,we are hiring so...,set(),"{'API', ' Magent..."
11447,2900,Sr. Site Reliabi...,Xiaomi Technology,Permanent,"['MapReduce', 'A...",Job Requirement：...,['Consumer elect...,2022-01-11,https://www.node...,nodeflair,NaN,NaN,NaN,NaN,job requirement ...,{'grafana ganglia'},"{' yarn', 'MapRe..."

In [38]:
def str_list1(text):
    if text == 'NaN':
        return np.nan
    
    text = text.replace('[', '')
    text = text.replace(']', '')
    text = text.replace("'", '')
    mid_working = text.strip().split(',')
    to_be_returned = mid_working[0]
    return to_be_returned

def str_list2(text):
        if text == 'NaN':
        return np.nan
    
    text = text.replace('[', '')
    text = text.replace(']', '')
    text = text.replace("'", '')
    
    return text

In [39]:
df['mid'] = df['industry'].apply(str_list)

In [40]:
df.head()

,Unnamed: 0,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack,mid
0,0,Senior Python De...,Citi,permanent,NaN,Job Description ...,['Banking/Accoun...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,{'jasminkarma ju...,set(),Banking/Accounti...
1,1,Senior Partner S...,Amazon,permanent,NaN,Job Description ...,['Internet/E-com...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,"{'microsoft', 'a...",set(),Internet/E-commerce
2,2,IT Technician,Ascend Com Pte. ...,permanent,"['Switches', 'Ma...",Responsibilities...,['Corporate offi...,2022-02-19,https://www.mons...,monster,24000.0,36000.0,2.0,5.0,responsibilities...,{'lan wan'},"{' Windows 7', '...",Corporate office
3,3,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Key Responsibili...,['Semi conductor...,2022-02-19,https://www.mons...,monster,42000.0,84000.0,2.0,5.0,key responsibili...,{'daytoday'},{' Problem Solvi...,Semi conductor s...
4,4,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Has developed sp...,['Semi conductor...,2022-02-19,https://www.mons...,monster,46800.0,93600.0,2.0,5.0,has developed sp...,set(),{' Problem Solvi...,Semi conductor s...

In [41]:
df['mid'].unique()

array(['Banking/Accounting/Financial Services', 'Internet/E-commerce',
       'Corporate office', 'Semi conductor supplier in Singapore',
       'Employment agency in Singapore', 'Software company in Singapore',
       'Recruiter in Singapore', 'BPO company in Singapore', 'None',
       'Bank in Singapore', 'Telecommunications company',
       'Information Technology & Services',
       'Computer security service in Singapore',
       'Consulting/Advisory Services', 'Computer consultant in Singapore',
       'Contractor in Singapore', 'Association or organization',
       'Training provider in Singapore',
       'Employment consultant in Singapore', 'Consultant in Singapore',
       'Telecommunications service provider in Singapore',
       'IT/Computers - Software', 'Software company in London',
       'Business to business service in Singapore',
       'Employment search service in Singapore',
       'Construction company in Singapore', 'Recruitment/Staffing/RPO',
       'Marketing agency in Singapore', 'Automation company in Singapore',
       'Commercial cleaning service in Singapore',
       'Biotechnology company in Singapore',
       'IT/Software Development - Network Administration/Security',
       'Internet service provider in Singapore',
       'Computer support and services in Singapore',
       'Security system supplier in Singapore',
       'Fabric wholesaler in Singapore',
       'Electronics manufacturer in Singapore',
       'Electronics wholesaler in Singapore',
       'Technology park in Singapore', 'Holding company in Singapore',
       'Telecommunications equipment supplier in Singapore',
       'Engineering consultant in Singapore',
       'Business management consultant in Singapore',
       'Financial institution', 'Research institute in Singapore',
       'IT service management company',
       'IT/Computers - Hardware & Networking', 'Law firm in Singapore',
       'Security service in Singapore', 'Education/Teaching',
       'Financial consultant in Singapore',
       'Cell phone store in Singapore',
       'Hospitals/Healthcare/Diagnostics',
       'Courier/Freight/Transportation',
       'Automotive/Automobile/Ancillaries', 'Manufacturer in Singapore',
       'Insurance broker in Singapore',
       'Volunteer organization in Singapore', 'Publisher in Singapore',
       'Charity in Singapore', 'Shipping service in Singapore',
       'Corporate campus in Singapore', 'KPO/Research/Analytics',
       'Human resource consulting in Singapore', 'Grocery store',
       'Electronics company in Singapore',
       'Government office in Singapore',
       'Architectural designer in Singapore', 'Protection company',
       'Information services in Singapore',
       'Financial institution in Singapore',
       'Real estate agency in Singapore',
       'Distribution service in Singapore',
       'Electronics store in Singapore',
       'Autonomous university in Singapore', 'Company',
       'Medical center in Singapore', 'Shipping company in Singapore',
       'Custom label printer in Singapore',
       'Analytics/Business Intelligence', 'Government/PSU/Defence',
       'Insurance company in Singapore',
       'Educational consultant in Singapore', 'Foundation',
       'Electronics Manufacturing', 'Other', 'Semiconductor', 'Telecom',
       'Oil/Gas/Petroleum', 'Education',
       'IT- Hardware/Telecom/Technical Staff/Support',
       'IT/Software Development - Application Programming/Maintenance',
       'Health Care', 'Real Estate', 'Chemicals/Petrochemicals',
       'Bio Technology & Life Sciences', 'Advertising/PR/Events',
       'Insurance', 'Food & Packaged Food', 'Telecom/ISP',
       'Pharmaceutical', 'ITES/BPO', 'Quality Control/Assurance',
       'Consumer Electronics/Durables/Appliances',
       'Purchase/Logistics/Supply Chain',
       'Advertising/Entertainment/Media', 'Airlines/Aviation/Aerospace',
       'Machinery/Equipment Mfg.',
       'IT/Software Development - Systems/EDP/MIS',
       'Construction & Engineering', 'Insurance agency in Singapore',
       'Software company', 'Executive search firm in Singapore',
       'Courier service in Singapore', 'Financial services company',
       'Zoo in Singapore', 'Property management company in Singapore',
       'Hotels/Hospitality/Restaurant', 'Interior designer in Singapore',
       'Medical technology manufacturer in Singapore',
       'Safety equipment supplier in Singapore',
       'Event planner in Singapore',
       'Accounting software company in Mumbai',
       'Legal services in Singapore',
       'Video conferencing service in Singapore',
       'E-commerce service in Singapore',
       'Non-profit organization in Singapore', 'Consumer banking company',
       'Environmental engineer in Singapore',
       'Transportation service in Singapore',
       'Talent agency in Singapore', 'Advertising agency in Singapore',
       'Event management company in Singapore',
       'Computer store in Singapore', 'Corporation',
       'Computer hardware manufacturer in Singapore',
       'Store in Singapore', 'Call center in Singapore',
       'Wedding photographer in Singapore',
       'Video production service in Singapore',
       'Investment service in Singapore', 'Accounting firm in Singapore',
       'Medical group in Singapore',
       'Immigration & naturalization service in Singapore',
       'Insurance company', 'Website designer in Singapore',
       'Office equipment supplier in Singapore',
       'General contractor in Singapore', 'Shipping/Marine Services',
       'Food products supplier', 'Computer repair service in Singapore',
       'Marketing consultant in Singapore', 'International school',
       'Internet marketing service in Singapore',
       'Entertainment/Media/Publishing', 'Engineering services company',
       'Travel agency in Singapore', 'GPS supplier in Singapore',
       'Club in Singapore', 'Guards/Security Services',
       'Computer Software', 'Engineering - Environmental/Health/Safety',
       'Logistics service in Singapore',
       'Research and product development in Singapore',
       'Financial planner in Singapore', 'Office in Singapore',
       'Foundation in Singapore', 'Foundry in Singapore', 'Hotel',
       'Investment company in Singapore',
       'Accounting software company in Singapore',
       'Telecommunications engineer in Singapore',
       'Aerospace company in Singapore', 'Software company in Pune',
       'Certified public accountant in Singapore',
       'Consultant in South Jakarta',
       'Industrial equipment supplier in Singapore', 'Coupon company',
       'Real estate developer in Singapore',
       'Aviation consultant in Singapore', 'Media company in Singapore',
       'Computer wholesaler in Singapore', 'Training centre in Singapore',
       'Web hosting company in Singapore', 'Banking company',
       'Tourist attraction in Singapore', 'Agriculture in Singapore',
       'Real estate agent in Singapore', 'Tea and coffee merchant',
       'Mining company in Singapore', 'International school in Singapore',
       '$$', 'Air conditioning system supplier in Singapore',
       'Advertising agency in Hong Kong',
       'Energy equipment and solutions in Singapore',
       'General register office in Singapore',
       'Computer and software stores company', 'Auditor in Singapore',
       'School in Singapore', 'Marine engineer in Singapore',
       'Database management company in Singapore',
       'Animation studio in Singapore', 'Business center in Singapore',
       'Educational institution in Singapore',
       'Architecture firm in Singapore', 'Bank',
       'University in Singapore', 'Furniture store in Singapore',
       'Medical laboratory in Singapore',
       'Business banking service in Singapore',
       'Coworking space in Singapore',
       'Electronic parts supplier in Singapore',
       'Dental clinic in Singapore', 'Payroll service in Singapore',
       'Commercial printer in Singapore',
       'Industrial consultant in Singapore',
       'Tax consultant in Singapore', 'Car dealer in Singapore',
       'Electronics repair shop in Singapore',
       'Health consultant in Singapore',
       'Environmental consultant in Singapore',
       'Public health department in Singapore',
       'Second hand store in Singapore', 'Japanese grocery store',
       'Fund management company in Singapore', 'Engineer in Singapore',
       'Semiconductors', 'Automotive', 'Computer & Network Security',
       'Investment Management', 'Telecommunications', 'Banking',
       'Pharmaceuticals', 'Leisure', 'Internet',
       'Marketing & Advertising', 'Electrical & Electronic Manufacturing',
       'Consumer Electronics', 'Aviation & Aerospace', 'Higher Education',
       'Government Administration', 'Information Services',
       'Graphic Design', 'Think Tanks', 'Computer Hardware',
       'Mechanical Or Industrial Engineering', 'Financial Services',
       'Airlines/Aviation', 'Logistics & Supply Chain', 'Medical Device',
       'Capital Markets', 'Management Consulting',
       'Staffing & Recruiting', 'Luxury Goods & Jewelry', 'Newspapers',
       'Oil & Energy', 'Maritime', 'Accounting', 'Computer Networking',
       'Education Management', 'Retail', 'Defense & Space',
       'Biotechnology', 'Computer Games', 'Consumer Goods',
       'Building Materials', 'Mining company', 'Architecture & Planning',
       'Software company in Chennai', 'Chemicals',
       'Real estate investment trust company', 'Technology company',
       'E commerce agency in Singapore', 'Media company',
       'Medical clinic in Singapore', 'Cryptocurrency company',
       'Data visualization company', 'Manufacturing company',
       'E-commerce company', 'Information technology company',
       'Financial technology company', 'Commercial company',
       'Video game developer', 'Video game company',
       'Computers and information technology company',
       'Aerospace and defense company', 'Statutory board', 'Toy company',
       'Consumer electronics company',
       'Serviced accommodation in Singapore',
       'Security guard service in Singapore', 'Cloud computing company',
       'Non-governmental organization in Singapore',
       'Management consulting services company'], dtype=object)

In [62]:
def cleaning(text): 
    text = text.replace('in Singapore', '')
    text = text.replace("in London", "")
    text = text.replace("in Pune", "")
    text = text.replace("in South Jakarta", "")
    text = text.replace("in Hong Kong", "")
#     text = text.replace("Bank", "Banking/Accounting/Financial Services")
#     text = text[0:-1]
    
    return text

In [63]:
df['mid'] = df['industry'].apply(cleaning)

In [64]:
df['mid'].value_counts()

[None]                                                                               1614
['Software company ']                                                                 711
['Internet/E-commerce']                                                               649
['IT/Computers - Software']                                                           446
['Corporate office']                                                                  421
                                                                                     ...
['Logistics & Supply Chain']                                                            1
['Banking/Accounting/Financial Services', ' IT/Computers - Software']                   1
['Club ']                                                                               1
['Mining company']                                                                      1
['ITES/BPO', ' IT/Computers - Hardware & Networking', ' IT/Computers - Software']       1
Name: mid, Length: 415, dtype: int64

In [65]:
df['mid'] = df['mid'].apply(str_list)

In [66]:
df['mid'].unique()

array(['Banking/Accounting/Financial Services', 'Internet/E-commerce',
       'Corporate office', 'Semi conductor supplier', 'Employment agency',
       'Software company', 'Recruiter', 'BPO company', 'None', 'Bank',
       'Telecommunications company', 'Information Technology & Services',
       'Computer security service', 'Consulting/Advisory Services',
       'Computer consultant', 'Contractor', 'Association or organization',
       'Training provider', 'Employment consultant', 'Consultant',
       'Telecommunications service provider', 'IT/Computers - Software',
       'Software company ', 'Business to business service',
       'Employment search service', 'Construction company',
       'Recruitment/Staffing/RPO', 'Marketing agency',
       'Automation company', 'Commercial cleaning service',
       'Biotechnology company',
       'IT/Software Development - Network Administration/Security',
       'Internet service provider', 'Computer support and services',
       'Security system supplier', 'Fabric wholesaler',
       'Electronics manufacturer', 'Electronics wholesaler',
       'Technology park', 'Holding company',
       'Telecommunications equipment supplier', 'Engineering consultant',
       'Business management consultant', 'Financial institution',
       'Research institute', 'IT service management company',
       'IT/Computers - Hardware & Networking', 'Law firm',
       'Security service', 'Education/Teaching', 'Financial consultant',
       'Cell phone store', 'Hospitals/Healthcare/Diagnostics',
       'Courier/Freight/Transportation',
       'Automotive/Automobile/Ancillaries', 'Manufacturer',
       'Insurance broker', 'Volunteer organization', 'Publisher',
       'Charity', 'Shipping service', 'Corporate campus',
       'KPO/Research/Analytics', 'Human resource consulting',
       'Grocery store', 'Electronics company', 'Government office',
       'Architectural designer', 'Protection company',
       'Information services', 'Real estate agency',
       'Distribution service', 'Electronics store',
       'Autonomous university', 'Company', 'Medical center',
       'Shipping company', 'Custom label printer',
       'Analytics/Business Intelligence', 'Government/PSU/Defence',
       'Insurance company', 'Educational consultant', 'Foundation',
       'Electronics Manufacturing', 'Other', 'Semiconductor', 'Telecom',
       'Oil/Gas/Petroleum', 'Education',
       'IT- Hardware/Telecom/Technical Staff/Support',
       'IT/Software Development - Application Programming/Maintenance',
       'Health Care', 'Real Estate', 'Chemicals/Petrochemicals',
       'Bio Technology & Life Sciences', 'Advertising/PR/Events',
       'Insurance', 'Food & Packaged Food', 'Telecom/ISP',
       'Pharmaceutical', 'ITES/BPO', 'Quality Control/Assurance',
       'Consumer Electronics/Durables/Appliances',
       'Purchase/Logistics/Supply Chain',
       'Advertising/Entertainment/Media', 'Airlines/Aviation/Aerospace',
       'Machinery/Equipment Mfg.',
       'IT/Software Development - Systems/EDP/MIS',
       'Construction & Engineering', 'Insurance agency',
       'Executive search firm', 'Courier service',
       'Financial services company', 'Zoo', 'Property management company',
       'Hotels/Hospitality/Restaurant', 'Interior designer',
       'Medical technology manufacturer', 'Safety equipment supplier',
       'Event planner', 'Accounting software company in Mumbai',
       'Legal services', 'Video conferencing service',
       'E-commerce service', 'Non-profit organization',
       'Consumer banking company', 'Environmental engineer',
       'Transportation service', 'Talent agency', 'Advertising agency',
       'Event management company', 'Computer store', 'Corporation',
       'Computer hardware manufacturer', 'Store', 'Call center',
       'Wedding photographer', 'Video production service',
       'Investment service', 'Accounting firm', 'Medical group',
       'Immigration & naturalization service', 'Website designer',
       'Office equipment supplier', 'General contractor',
       'Shipping/Marine Services', 'Food products supplier',
       'Computer repair service', 'Marketing consultant',
       'International school', 'Internet marketing service',
       'Entertainment/Media/Publishing', 'Engineering services company',
       'Travel agency', 'GPS supplier', 'Club',
       'Guards/Security Services', 'Computer Software',
       'Engineering - Environmental/Health/Safety', 'Logistics service',
       'Research and product development', 'Financial planner', 'Office',
       'Foundry', 'Hotel', 'Investment company',
       'Accounting software company', 'Telecommunications engineer',
       'Aerospace company', 'Certified public accountant', 'Consultant ',
       'Industrial equipment supplier', 'Coupon company',
       'Real estate developer', 'Aviation consultant', 'Media company',
       'Computer wholesaler', 'Training centre', 'Web hosting company',
       'Banking company', 'Tourist attraction', 'Agriculture',
       'Real estate agent', 'Tea and coffee merchant', 'Mining company',
       '$$', 'Air conditioning system supplier',
       'Energy equipment and solutions', 'General register office',
       'Computer and software stores company', 'Auditor', 'School',
       'Marine engineer', 'Database management company',
       'Animation studio', 'Business center', 'Educational institution',
       'Architecture firm', 'University', 'Furniture store',
       'Medical laboratory', 'Business banking service',
       'Coworking space', 'Electronic parts supplier', 'Dental clinic',
       'Payroll service', 'Commercial printer', 'Industrial consultant',
       'Tax consultant', 'Car dealer', 'Electronics repair shop',
       'Health consultant', 'Environmental consultant',
       'Public health department', 'Second hand store',
       'Japanese grocery store', 'Fund management company', 'Engineer',
       'Semiconductors', 'Automotive', 'Computer & Network Security',
       'Investment Management', 'Telecommunications', 'Banking',
       'Pharmaceuticals', 'Leisure', 'Internet',
       'Marketing & Advertising', 'Electrical & Electronic Manufacturing',
       'Consumer Electronics', 'Aviation & Aerospace', 'Higher Education',
       'Government Administration', 'Information Services',
       'Graphic Design', 'Think Tanks', 'Computer Hardware',
       'Mechanical Or Industrial Engineering', 'Financial Services',
       'Airlines/Aviation', 'Logistics & Supply Chain', 'Medical Device',
       'Capital Markets', 'Management Consulting',
       'Staffing & Recruiting', 'Luxury Goods & Jewelry', 'Newspapers',
       'Oil & Energy', 'Maritime', 'Accounting', 'Computer Networking',
       'Education Management', 'Retail', 'Defense & Space',
       'Biotechnology', 'Computer Games', 'Consumer Goods',
       'Building Materials', 'Architecture & Planning',
       'Software company in Chennai', 'Chemicals',
       'Real estate investment trust company', 'Technology company',
       'E commerce agency', 'Medical clinic', 'Cryptocurrency company',
       'Data visualization company', 'Manufacturing company',
       'E-commerce company', 'Information technology company',
       'Financial technology company', 'Commercial company',
       'Video game developer', 'Video game company',
       'Computers and information technology company',
       'Aerospace and defense company', 'Statutory board', 'Toy company',
       'Consumer electronics company', 'Serviced accommodation',
       'Security guard service', 'Cloud computing company',
       'Non-governmental organization',
       'Management consulting services company'], dtype=object)

In [67]:
df['mid'].value_counts()

None                                     1614
IT/Computers - Software                  1383
Software company                          730
Internet/E-commerce                       724
Banking/Accounting/Financial Services     552
                                         ...
Talent agency                               1
Air conditioning system supplier            1
Biotechnology                               1
Toy company                                 1
Corporation                                 1
Name: mid, Length: 284, dtype: int64

In [32]:
df.to_csv('../data/cleaned/Posts_Industry2.csv')

# OKAY!

In [70]:
def str_list1(text):
    if text == 'NaN':
        return np.nan
    
    text = text.replace('[', '')
    text = text.replace(']', '')
    text = text.replace("'", '')
    mid_working = text.strip().split(',')
    to_be_returned = mid_working[0]
    return to_be_returned

def str_list2(text):
    if text == 'NaN':
        return np.nan
    
    text = text.replace('[', '')
    text = text.replace(']', '')
    text = text.replace("'", '')
    
    return text



def cleaning(text): 
    text = text.replace('in Singapore', '')
    text = text.replace("in London", "")
    text = text.replace("in Pune", "")
    text = text.replace("in South Jakarta", "")
    text = text.replace("in Hong Kong", "")
#     text = text.replace("Bank", "Banking/Accounting/Financial Services")
#     text = text[0:-1]
    
    return text

df['cleaned_industry'] = df['industry'].apply(str_list)
df['cleaned_industry'] = df['cleaned_industry'].apply(cleaning)
df['cleaned_industry'] = df['cleaned_industry'].apply(str_list)
df['cleaned_industry'].value_counts()

None                                            1614
IT/Computers - Software                         1383
Software company                                 784
Internet/E-commerce                              724
Banking/Accounting/Financial Services            552
                                                ...
Air conditioning system supplier                   1
Biotechnology                                      1
Toy company                                        1
Computers and information technology company       1
Corporation                                        1
Name: cleaned_industry, Length: 282, dtype: int64

In [71]:
df.head()

,Unnamed: 0,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack,cleaned_industry
0,0,Senior Python De...,Citi,permanent,NaN,Job Description ...,['Banking/Accoun...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,{'jasminkarma ju...,set(),Banking/Accounti...
1,1,Senior Partner S...,Amazon,permanent,NaN,Job Description ...,['Internet/E-com...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,"{'microsoft', 'a...",set(),Internet/E-commerce
2,2,IT Technician,Ascend Com Pte. ...,permanent,"['Switches', 'Ma...",Responsibilities...,['Corporate offi...,2022-02-19,https://www.mons...,monster,24000.0,36000.0,2.0,5.0,responsibilities...,{'lan wan'},"{' Windows 7', '...",Corporate office
3,3,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Key Responsibili...,['Semi conductor...,2022-02-19,https://www.mons...,monster,42000.0,84000.0,2.0,5.0,key responsibili...,{'daytoday'},{' Problem Solvi...,Semi conductor s...
4,4,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Has developed sp...,['Semi conductor...,2022-02-19,https://www.mons...,monster,46800.0,93600.0,2.0,5.0,has developed sp...,set(),{' Problem Solvi...,Semi conductor s...

In [76]:
df.drop(columns = "Unnamed: 0", inplace = True)

In [77]:
df.head()

,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack,cleaned_industry
0,Senior Python De...,Citi,permanent,NaN,Job Description ...,['Banking/Accoun...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,{'jasminkarma ju...,set(),Banking/Accounti...
1,Senior Partner S...,Amazon,permanent,NaN,Job Description ...,['Internet/E-com...,2022-02-18,https://www.mons...,monster,NaN,NaN,NaN,NaN,job description ...,"{'microsoft', 'a...",set(),Internet/E-commerce
2,IT Technician,Ascend Com Pte. ...,permanent,"['Switches', 'Ma...",Responsibilities...,['Corporate offi...,2022-02-19,https://www.mons...,monster,24000.0,36000.0,2.0,5.0,responsibilities...,{'lan wan'},"{' Windows 7', '...",Corporate office
3,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Key Responsibili...,['Semi conductor...,2022-02-19,https://www.mons...,monster,42000.0,84000.0,2.0,5.0,key responsibili...,{'daytoday'},{' Problem Solvi...,Semi conductor s...
4,Customer Engineer,Applied Material...,permanent,"['Scalability', ...",Has developed sp...,['Semi conductor...,2022-02-19,https://www.mons...,monster,46800.0,93600.0,2.0,5.0,has developed sp...,set(),{' Problem Solvi...,Semi conductor s...

In [79]:
df.to_csv('../data/cleaned/Posts_Industry2.csv')