In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:
base_directory = "C:/Users/limst/Documents/github/job-posting-analysis"

### Monstersg

In [3]:
directory = os.chdir(f"{base_directory}/data/cleaned/")
files = os.listdir(".")
files

['.ipynb_checkpoints',
 'All_MonsterSg.csv',
 'Cloud Computing_MonsterSg.csv',
 'Cloud_MonsterSg.csv',
 'LinkedIn.csv']

In [4]:
monster_df = pd.read_csv('All_MonsterSg.csv') 
monster_df.head(3)

,job_title,company,salary,job_type,years_experience,tech_stack,job_description,industry,function,roles,date_posted,url
0,Senior Python Developer,Citi,NaN,permanent,NaN,NaN,Job Description :\r\n\r\nJob Purpose:\r\nWe ar...,['Banking/Accounting/Financial Services'],['IT'],['Software Engineer/Programmer'],2022-02-18,https://www.monster.com.sg/seeker/job-details?...
1,Senior Partner Solutions Architect (Microsoft),Amazon,NaN,permanent,NaN,NaN,Job Description :\r\nJob summary\r\nDESCRIPTIO...,['Internet/E-commerce'],['IT'],['Software Engineer/Programmer'],2022-02-18,https://www.monster.com.sg/seeker/job-details?...
2,IT Technician,Ascend Com Pte. Ltd.,"['24000', '36000']",permanent,"['2', '5']","['Switches', 'Mac', 'Windows 10', 'Cloud Compu...",Responsibilities:\r\nProvide helpdesk support ...,['Other'],['IT'],['Other Software/Hardware/EDP'],2022-02-19,https://www.monster.com.sg/seeker/job-details?...

In [48]:
monster_job_description = monster_df['job_description']
monster_job_description.head(3)

0    Job Description :\r\n\r\nJob Purpose:\r\nWe ar...
1    Job Description :\r\nJob summary\r\nDESCRIPTIO...
2    Responsibilities:\r\nProvide helpdesk support ...
Name: job_description, dtype: object

### Cleaning Data

In [49]:
monster_job_description = monster_job_description.apply(lambda x: re.sub(r'\w*\d\w*','', str(x)))
monster_job_description

0       Job Description :\r\n\r\nJob Purpose:\r\nWe ar...
1       Job Description :\r\nJob summary\r\nDESCRIPTIO...
2       Responsibilities:\r\nProvide helpdesk support ...
3       Key Responsibilities\r\nPerforms all standard ...
4       Has developed specialized skills or is multi-s...
                              ...
8410    Job Description:\r\nResponsible for overall pl...
8411    Job Description:\r\nThe Senior Developer, IT p...
8412    Location: Paya Lebar\r\nWorking hours:   ( shi...
8413    As a Director, you will be responsible for man...
8414    About the company\r\nOur Client is a market le...
Name: job_description, Length: 8415, dtype: object

In [50]:
monster_job_description = monster_job_description.apply(lambda x: x.lower())
monster_job_description

0       job description :\r\n\r\njob purpose:\r\nwe ar...
1       job description :\r\njob summary\r\ndescriptio...
2       responsibilities:\r\nprovide helpdesk support ...
3       key responsibilities\r\nperforms all standard ...
4       has developed specialized skills or is multi-s...
                              ...
8410    job description:\r\nresponsible for overall pl...
8411    job description:\r\nthe senior developer, it p...
8412    location: paya lebar\r\nworking hours:   ( shi...
8413    as a director, you will be responsible for man...
8414    about the company\r\nour client is a market le...
Name: job_description, Length: 8415, dtype: object

In [51]:
monster_job_description = monster_job_description.to_frame(name='job_description')

### Different Cloud Provider

In [52]:
monster_job_description['AWS'] = 0
monster_job_description['GCP'] = 0
monster_job_description['AZURE'] = 0

In [53]:
monster_job_description.head()

                                     job_description  AWS  GCP  AZURE
0  job description :\r\n\r\njob purpose:\r\nwe ar...    0    0      0
1  job description :\r\njob summary\r\ndescriptio...    0    0      0
2  responsibilities:\r\nprovide helpdesk support ...    0    0      0
3  key responsibilities\r\nperforms all standard ...    0    0      0
4  has developed specialized skills or is multi-s...    0    0      0

In [54]:
for i, row in monster_job_description.iterrows():
    if "aws" in row['job_description'] or "amazon web services" in row['job_description']:
        monster_job_description.at[i,'AWS'] = 1
    if "google cloud platform" in row['job_description'] or "gcp" in row['job_description']:
        monster_job_description.at[i,'GCP'] = 1
    if "azure" in row['job_description']:
        monster_job_description.at[i,'AZURE'] = 1

In [55]:
monster_job_description

                                        job_description  AWS  GCP  AZURE
0     job description :\r\n\r\njob purpose:\r\nwe ar...    1    1      0
1     job description :\r\njob summary\r\ndescriptio...    1    1      1
2     responsibilities:\r\nprovide helpdesk support ...    0    0      0
3     key responsibilities\r\nperforms all standard ...    0    0      0
4     has developed specialized skills or is multi-s...    0    0      0
...                                                 ...  ...  ...    ...
8410  job description:\r\nresponsible for overall pl...    0    1      0
8411  job description:\r\nthe senior developer, it p...    0    0      0
8412  location: paya lebar\r\nworking hours:   ( shi...    0    0      0
8413  as a director, you will be responsible for man...    0    0      0
8414  about the company\r\nour client is a market le...    0    0      0

[8415 rows x 4 columns]