In [1]:
import pandas as pd
import re
import os

In [2]:
base_directory = "C:/Users/limst/Documents/github/job-posting-analysis"

In [3]:
directory = os.chdir(f"{base_directory}/data/cleaned/")
files = os.listdir(".")
files

['All_MonsterSg.csv',
 'cleaned_nodeflair_jobpostings.csv',
 'Cloud Computing_MonsterSg.csv',
 'Cloud_MonsterSg.csv',
 'combined_data.csv',
 'filtered_df.csv',
 'LinkedIn.csv',
 'Posts_Industry.csv']

In [4]:
df = pd.read_csv("filtered_df.csv", index_col=0)

def read_set(text):
    text = text[1:-1]
    text = text.replace("'",'')
    text = text.split(',')
    newlist = []
    for x in text:
        newlist.append(x)
        
    return newlist
    
df["all_tech_stack_split"] = df["all_tech_stack"].apply(read_set)

In [5]:
df.head(3)

,Unnamed: 0.1,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,extracted_tech_stack,all_tech_stack,cleaned_job_desc,Cluster,all_tech_stack_split
0,0,Senior Python Developer,Citi,permanent,NaN,Job Description :\r\n\r\nJob Purpose:\r\nWe ar...,['Banking/Accounting/Financial Services'],2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"{'JavaScript', 'SQL', 'REST', 'big data', 'Haz...",set(),job description job purpose we are look...,Software Developer,[et(]
1,1,Senior Partner Solutions Architect (Microsoft),Amazon,permanent,NaN,Job Description :\r\nJob summary\r\nDESCRIPTIO...,['Internet/E-commerce'],2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"{'Stack', 'Caching', 'Azure', 'Load Balencers'...",set(),job description job summary description d...,Solutions Architect,[et(]
7,7,Cloud Engineer (Automation),Recruit Expert Pte. Ltd.,permanent,"['Puppet', 'Cloud Applications', 'Cloud Securi...","In-charge of the design, deployment, installat...",['Other'],2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,48000.0,66000.0,2.0,5.0,"{'IT', 'upgrades', 'R1326740', 'Ansible', 'fix...","{' Cloud Computing', ' Cloud-based', ' Cloud S...",in charge of the design deployment installat...,Cloud Engineer,"[ Cloud Computing, Cloud-based, Cloud Secu..."

In [6]:
df_filtered = df[df.all_tech_stack!="set()"]
df_filtered = df_filtered[['job_title','all_tech_stack_split']]
df_filtered.head(3)

,job_title,all_tech_stack_split
7,Cloud Engineer (Automation),"[ Cloud Computing, Cloud-based, Cloud Secu..."
8,Cloud Engineer (Automation),"[ Cloud Computing, Cloud-based, Cloud Secu..."
9,Senior Software and Automation Architect,"[Cisco, CircleCI, CI, Orchestration, Segme..."

In [ ]:
combis = pd.DataFrame(columns = ['job_title', 'tech_stack'])

for i, row in interaction.iterrows():
    jobtitle = row['job_title']
    for tech in row['all_tech_stack_split']: 
        new_row = pd.DataFrame({'job_title':[jobtitle],'tech_stack':[tech]})
        combis = combis.append(new_row)
combis.tail()

In [14]:
interaction_csv = combis.to_csv("interaction.csv")

## Skills-skills

In [9]:
['tech']*6

['tech', 'tech', 'tech', 'tech', 'tech', 'tech']

In [17]:
skill_row = pd.DataFrame({'tech_1':[1,2,3,4,5,6],'tech_2':[1,4,3,4,5,6]})
skill_row

   tech_1  tech_2
0       1       1
1       2       4
2       3       3
3       4       4
4       5       5
5       6       6

In [ ]:
skills = pd.DataFrame(columns = ['tech_1', 'tech_2'])

for i, row in df_filtered.iterrows():
    for tech in row['all_tech_stack_split']:
        array_length = len(row['all_tech_stack_split'])
        new_row = pd.DataFrame({'tech_1':[tech]*array_length,'tech_2':row['all_tech_stack_split']})
        skills = skills.append(new_row)