In [1]:
import pandas as pd
import re
import os

In [5]:
df = pd.read_json("../data/cleaned/filtered_data.json")

In [6]:
df.head(3)

,job_title,company_name,job_type,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,all_tech_stack,education_level,education_field,cleaned_job_desc,aws,google_cloud,azure,cluster
0,Senior Python Developer,citi,permanent,Banking/Accounting/Financial Services,2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"[RabbitMQ, Tableau Dashboards, Bitbucket, SOAP...",[],[],job description job purpose we are look...,1,1,0,Software Developer
1,Senior Partner Solutions Architect (Microsoft),amazon,permanent,Internet/E-commerce,2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"[Queue, Containers, Azure, RFPs, Microsoft ELA...",[Master's],[],job description job summary description d...,1,1,1,Solutions Architect
7,Cloud Engineer (Automation),recruit expert pte. ltd.,permanent,Employment agency,2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,48000.0,66000.0,2,5,"[Cloud, OpenStack, Ansible, Cloud robotics, Op...","[Master's, Bachelor's]","[Relevant Field, Information Technology, Compu...",in charge of the design deployment installat...,0,0,0,Cloud Engineer

## Extracting out skills-skills pairing

In [39]:
skills_list = df['all_tech_stack']

In [66]:
start_index = 5001
end_index = 5406

In [67]:
from itertools import combinations

skills = pd.DataFrame(columns = ['tech_1', 'tech_2'])

def find_interaction(list_name, df):
    all_combi = combinations(list(list_name), 2)
    for i in all_combi:
        new_row = pd.DataFrame({'tech_1':i[0],'tech_2':i[1]}, columns = ['tech_1', 'tech_2'], index=[0])
        df = df.append(new_row)
    return df

count = start_index
for i in skills_list[start_index: end_index]: 
    skills = find_interaction(i, skills)
    if count % 100 == 0:
        print(count)
    count += 1

5100
5200
5300
5400

In [69]:
skills

                             tech_1      tech_2
0                          Payments       React
0                          Payments       SECOM
0                          Payments        REST
0                          Payments     Develop
0                          Payments   Motivated
..                              ...         ...
0                    client success         SQL
0                    client success  Bachelor’s
0   Responsibilities Qualifications         SQL
0   Responsibilities Qualifications  Bachelor’s
0                               SQL  Bachelor’s

[377706 rows x 2 columns]

In [70]:
skills.to_csv('skills-skills_5001-5405.csv', index=False)

## Combine all skills-skills csv

In [ ]:
import os

In [71]:
# Change directory
directory = os. chdir("../data/cleaned/")
files = os.listdir(".")
files

['all_service_provider.csv',
 'aws.csv',
 'aws_filtered.csv',
 'azure.csv',
 'azure_filtered.csv',
 'combined_data.csv',
 'combined_data.json',
 'count_role.ipynb',
 'filtered_data.json',
 'filtered_job_roles.csv',
 'google.csv',
 'google_filtered.csv',
 'individual_platforms',
 'jobtitle_skills_edges.csv',
 'jobtitle_skills_nodes.csv',
 'job_skills_all_edges.csv',
 'job_skills_all_nodes.csv',
 'job_skills_aws_edges.csv',
 'job_skills_aws_nodes.csv',
 'job_skills_azure_edges.csv',
 'job_skills_azure_nodes.csv',
 'job_skills_google_edges.csv',
 'job_skills_google_nodes.csv',
 'Posts_Industry.csv',
 'skills-skills_0-1549.csv',
 'skills-skills_1550-2329.csv',
 'skills-skills_2330-3099.csv',
 'skills-skills_3100-3869.csv',
 'skills-skills_3870-4640.csv',
 'skills-skills_4640-5000.csv',
 'skills-skills_5001-5405.csv',
 'unfiltered_df.csv']

In [72]:
relevant_csv = [x for x in files if 'skills-skills' in x]
relevant_csv

['skills-skills_0-1549.csv',
 'skills-skills_1550-2329.csv',
 'skills-skills_2330-3099.csv',
 'skills-skills_3100-3869.csv',
 'skills-skills_3870-4640.csv',
 'skills-skills_4640-5000.csv',
 'skills-skills_5001-5405.csv']

In [73]:
final_df = pd.concat(map(pd.read_csv, relevant_csv), ignore_index=True, axis=0)
final_df

                                  tech_1              tech_2
0                               RabbitMQ  Tableau Dashboards
1                               RabbitMQ           Bitbucket
2                               RabbitMQ                SOAP
3                               RabbitMQ           Container
4                               RabbitMQ       Citigroup Inc
...                                  ...                 ...
4369169                   client success                 SQL
4369170                   client success          Bachelor’s
4369171  Responsibilities Qualifications                 SQL
4369172  Responsibilities Qualifications          Bachelor’s
4369173                              SQL          Bachelor’s

[4369174 rows x 2 columns]

In [74]:
final_df.to_csv('skills-skills.csv', index=False)