In [1]:
import pandas as pd
import re
import os

In [5]:
df = pd.read_json("../data/cleaned/filtered_data.json")

In [6]:
df.head(3)

,job_title,company_name,job_type,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,all_tech_stack,education_level,education_field,cleaned_job_desc,aws,google_cloud,azure,cluster
0,Senior Python Developer,citi,permanent,Banking/Accounting/Financial Services,2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"[RabbitMQ, Tableau Dashboards, Bitbucket, SOAP...",[],[],job description job purpose we are look...,1,1,0,Software Developer
1,Senior Partner Solutions Architect (Microsoft),amazon,permanent,Internet/E-commerce,2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,"[Queue, Containers, Azure, RFPs, Microsoft ELA...",[Master's],[],job description job summary description d...,1,1,1,Solutions Architect
7,Cloud Engineer (Automation),recruit expert pte. ltd.,permanent,Employment agency,2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,48000.0,66000.0,2,5,"[Cloud, OpenStack, Ansible, Cloud robotics, Op...","[Master's, Bachelor's]","[Relevant Field, Information Technology, Compu...",in charge of the design deployment installat...,0,0,0,Cloud Engineer

## Skills-skills

In [39]:
skills_list = df['all_tech_stack']

In [57]:
start_index = 1550
end_index = 1552

In [58]:
from itertools import combinations

skills = pd.DataFrame(columns = ['tech_1', 'tech_2'])

def find_interaction(list_name, df):
    all_combi = combinations(list(list_name), 2)
    for i in all_combi:
        new_row = pd.DataFrame({'tech_1':i[0],'tech_2':i[1]}, columns = ['tech_1', 'tech_2'], index=[0])
        df = df.append(new_row)
    return df

count = start_index
for i in skills_list[start_index: end_index]: 
    skills = find_interaction(i, skills)
    if count % 100 == 0:
        print(count)
    count += 1

In [59]:
skills

                   tech_1           tech_2
0   Solution Architecture           Micron
0   Solution Architecture         Malaysia
0   Solution Architecture            Spark
0   Solution Architecture         religion
0   Solution Architecture        Singapore
..                    ...              ...
0                Teradata   QUALIFICATIONS
0                Teradata  gender identity
0              AWS Summit   QUALIFICATIONS
0              AWS Summit  gender identity
0          QUALIFICATIONS  gender identity

[1921 rows x 2 columns]

In [53]:
skills.to_csv('skills-skills_0-1549.csv', index=False)