In [178]:
import pandas as pd
import numpy as np
import re

In [179]:
level_dict = {
    "PhD": ["phd", "doctor", "doctorate"],
    "Master's": ["masters degree", "master", "master's degree", " ms "],
    "Bachelor's": ["bachelor's degree", "bachelor degree", "bachelor's", "bachelor", "degree", "bsc", " bs ", "college", "university"],
    "Diploma": ["diploma"]
}

field_dict = {
    "Relevant Field": ["related", "relevant", "equivalent", "related field", "related discipline", "technical field", "related area"],
    "Computer Science": ["computer science", " cs ", "comp sci", "com sci", "computing"],
    "Mathematics": ["mathematics", "math"],
    "Information Technology": ["information technology", " it ", "technology", "information systems", "digital technologies"],
    "Computer/Software Engineering": ["computer engineering", "software engineering"],
    "Electrical and Electronics Engineering": ["electrical and electronics engineering", "bsee", "electrical engineering", "electronics engineering"],
    "Physics": ["physics"],
    "Business": ["business", "MBA"]
}

In [180]:
df = pd.read_csv("../data/cleaned/combined_data.csv")
df.head(1)

,Unnamed: 0,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack
0,0,Senior Python Developer,Citi,permanent,NaN,Job Description :\n\nJob Purpose:\nWe are look...,['Banking/Accounting/Financial Services'],2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,job description job purpose we are lookin...,"{'jasminkarma junit', 'job description', 'tabl...",set()

In [181]:
# Initialise empty rows
df['education_level'] = df.apply(lambda x: [], axis=1)
df['education_field'] = df.apply(lambda x: [], axis=1)

In [182]:
# Iterate through level dictionary and level variations
for level, level_list in level_dict.items():
    for level_variation in level_list:
        # Iterate through dataframe
        for i, row in df.iterrows():
            # If description is a string, and contains level_variation, append level
            if type(row['cleaned_job_desc']) == str and re.search(level_variation, row['cleaned_job_desc']) is not None and level not in df.at[i, "education_level"]:
                df.at[i, "education_level"].append(level)
                # Iterate through matches of level_variations
                for match in re.finditer(level_variation, row['cleaned_job_desc']):
                    # Iterate through field dictionary and field variations
                    for field, field_list in field_dict.items():
                        for field_variation in field_list:
                            # If field_variation within 100 characters of match, append field
                            if field_variation in row['cleaned_job_desc'][match.start():match.end()+100] and field not in df.at[i, "education_field"]:
                                df.at[i, "education_field"].append(field)
df

,Unnamed: 0,job_title,company_name,job_type,tech_stack,job_desc,industry,date_posted,url,source,lower_salary,upper_salary,lower_year,upper_year,cleaned_job_desc,extracted_tech_stack,all_tech_stack,education_level,education_field
0,0,Senior Python Developer,Citi,permanent,NaN,Job Description :\n\nJob Purpose:\nWe are look...,['Banking/Accounting/Financial Services'],2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,job description job purpose we are lookin...,"{'jasminkarma junit', 'job description', 'tabl...",set(),[],[]
1,1,Senior Partner Solutions Architect (Microsoft),Amazon,permanent,NaN,Job Description :\nJob summary\nDESCRIPTION\nD...,['Internet/E-commerce'],2022-02-18,https://www.monster.com.sg/seeker/job-details?...,monster,NaN,NaN,NaN,NaN,job description job summary description do...,"{'microsoft', 'alwayson '}",set(),[],[]
2,2,IT Technician,Ascend Com Pte. Ltd.,permanent,"['Switches', 'Mac', 'Windows 10', 'Cloud Compu...",Responsibilities:\nProvide helpdesk support fo...,['Other'],2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,24000.0,36000.0,2.0,5.0,responsibilities provide helpdesk support for...,{'lan wan'},"{' Windows 7', ' Routers', ' Wireless', ' Pred...",[Diploma],"[Relevant Field, Information Technology]"
3,3,Customer Engineer,Applied Materials South East Asia Pte. Ltd.,permanent,"['Scalability', 'Cloud Computing', 'Google Clo...",Key Responsibilities\nPerforms all standard se...,['Other'],2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,42000.0,84000.0,2.0,5.0,key responsibilities performs all standard se...,{'daytoday'},"{' Problem Solving', 'Scalability', ' Technica...",[],[]
4,4,Customer Engineer,Applied Materials South East Asia Pte. Ltd.,permanent,"['Scalability', 'Cloud Computing', 'Google Clo...",Has developed specialized skills or is multi-s...,['Other'],2022-02-19,https://www.monster.com.sg/seeker/job-details?...,monster,46800.0,93600.0,2.0,5.0,has developed specialized skills or is multisk...,set(),"{' Problem Solving', 'Scalability', ' Technica...",[Bachelor's],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11443,2896,DevOps Engineer,2C2P,Permanent,"['GitLab', 'HTTP', 'UDP', 'TCP', 'ShellScript'...",2C2P is looking for a .NET DevOps Engineer to ...,NaN,2022-01-11,https://www.nodeflair.com//jobs/46156,nodeflair,7000.0,10000.0,NaN,3.0,is looking for a net devops engineer to join ...,"{'amazon web', 'shell'}","{' GitLabCI', ' Prometheus', ' C#', ' Terrafor...",[],[]
11444,2897,DevOps Engineer,FINXFLO,Permanent,"['Strategy', 'ShellScript', 'CI', 'Shell', 'UN...",Alpha Stone Capital is looking for an amazing ...,NaN,2022-01-11,https://www.nodeflair.com//jobs/46153,nodeflair,NaN,NaN,NaN,NaN,alpha stone capital is looking for an amazing ...,set(),"{'Strategy', ' ShellScript', ' Python', ' Jenk...",[Bachelor's],"[Relevant Field, Computer Science, Computer/So..."
11445,2898,DevOps Engineer,Quilt.AI,Permanent,"['Next.js', 'Docker', 'Cloudflare', 'DockerSwa...",As part of a growing team consisting of ML exp...,NaN,2022-01-11,https://www.nodeflair.com//jobs/46151,nodeflair,NaN,NaN,NaN,3.0,as part of a growing team consisting of ml exp...,set(),"{' Cloudflare', ' Typescript', ' Swarm', ' Ter...",[Bachelor's],"[Relevant Field, Computer Science, Computer/So..."
11446,2899,Software Engineer,Zoku Integrated Commerce,Permanent,"['API', 'Magento', 'CI', 'DOM', 'Node.js', 'No...",We are hiring software engineers with expertis...,NaN,2022-01-11,https://www.nodeflair.com//jobs/46149,nodeflair,NaN,NaN,NaN,3.0,we are hiring software engineers with expertis...,set(),"{'API', ' Magento', ' Node.js', ' React', ' Ty...",[Bachelor's],[Computer Science]
11447,2900,Sr. Site Reliability Engineer - Hadoop,Xiaomi Technology,Permanent,"['MapReduce', 'API', 'Container', 'JMX', 'Anal...","Job Requirement： Deploy, operate, maintain, se...",NaN,2022-01-11,https://www.nodeflair.com//jobs/46147,nodeflair,NaN,NaN,NaN,NaN,job requirement deploy operate maintain secure...,{'grafana ganglia'},"{' yarn', 'MapReduce', ' Go', 'grafana ganglia...",[Bachelor's],"[Relevant Field, Computer Science, Computer/So..."

In [183]:
df.to_csv("../data/cleaned/combined_data2.csv")