In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/joshuawong/Documents/GitHub/job-posting-analysis/data/cleaned/All_MonsterSg.csv')
df.head()

,job_title,company,salary,job_type,years_experience,tech_stack,job_description,industry,function,roles,date_posted,url
0,Senior Python Developer,Citi,NaN,permanent,NaN,NaN,Job Description :\n\nJob Purpose:\nWe are look...,['Banking/Accounting/Financial Services'],['IT'],['Software Engineer/Programmer'],18/2/22,https://www.monster.com.sg/seeker/job-details?...
1,Senior Partner Solutions Architect (Microsoft),Amazon,NaN,permanent,NaN,NaN,Job Description :\nJob summary\nDESCRIPTION\nD...,['Internet/E-commerce'],['IT'],['Software Engineer/Programmer'],18/2/22,https://www.monster.com.sg/seeker/job-details?...
2,IT Technician,Ascend Com Pte. Ltd.,"['24000', '36000']",permanent,"['2', '5']","['Switches', 'Mac', 'Windows 10', 'Cloud Compu...",Responsibilities:\nProvide helpdesk support fo...,['Other'],['IT'],['Other Software/Hardware/EDP'],19/2/22,https://www.monster.com.sg/seeker/job-details?...
3,Customer Engineer,Applied Materials South East Asia Pte. Ltd.,"['42000', '84000']",permanent,"['2', '5']","['Scalability', 'Cloud Computing', 'Google Clo...",Key Responsibilities\nPerforms all standard se...,['Other'],['Manufacturing/Engineering/R&D'],['Other Production/Engineering/R&D'],19/2/22,https://www.monster.com.sg/seeker/job-details?...
4,Customer Engineer,Applied Materials South East Asia Pte. Ltd.,"['46800', '93600']",permanent,"['2', '5']","['Scalability', 'Cloud Computing', 'Google Clo...",Has developed specialized skills or is multi-s...,['Other'],['Manufacturing/Engineering/R&D'],['Other Production/Engineering/R&D'],19/2/22,https://www.monster.com.sg/seeker/job-details?...

### Total number of listings

In [3]:
len(df)

8415

### Number of listings by month

In [22]:
df['month'] = df['date_posted'].apply(lambda x: x[:-3])
df['month'].head(2)

0    2022-02
1    2022-02
Name: month, dtype: object

In [30]:
df['month'].value_counts()

2022-03    5670
2022-02    2745
Name: month, dtype: int64

### Number of listings by industry

In [32]:
df['industry'].value_counts()

['Other']                                                                                                                                                    5105
['IT/Computers - Software']                                                                                                                                   884
['Internet/E-commerce']                                                                                                                                       686
['Banking/Accounting/Financial Services']                                                                                                                     430
['Recruitment/Staffing/RPO']                                                                                                                                  305
                                                                                                                                                             ...
['Telecom/ISP']                                                                                                                                                 1
['Banking/Accounting/Financial Services', 'Other']                                                                                                              1
['IT/Software Development - Systems/EDP/MIS', 'IT/Software Development - DBA/Datawarehousing', 'IT/Software Development - System Programming/Middleware']       1
['Quality Control/Assurance']                                                                                                                                   1
['IT/Computers - Software', 'Courier/Freight/Transportation', 'Internet/E-commerce']                                                                            1
Name: industry, Length: 76, dtype: int64

### Unique number of companies

In [4]:
len(df['company'].unique())

1555

### Counts of job types

In [5]:
df['job_type'].value_counts()

permanent    8364
contract       44
Name: job_type, dtype: int64

### Upper and lower salary

In [6]:
def salary_lower(x):
    if type(x) != float:
        x = x[1:-1].split(', ')
        return [int(x[1:-1]) for x in x][0]
    else:
        return np.nan
        
def salary_upper(x):
    if type(x) != float:
        x = x[1:-1].split(', ')
        return [int(x[1:-1]) for x in x][1]
    else:
        return np.nan
pd.set_option('float_format', '{:f}'.format)
df['salary_lower'] = df['salary'].apply(salary_lower)
df['salary_upper'] = df['salary'].apply(salary_upper)

In [7]:
df['salary_lower'].describe()

count      4770.000000
mean      80350.363732
std       86690.180288
min           1.000000
25%       48000.000000
50%       72000.000000
75%       96000.000000
max     1800000.000000
Name: salary_lower, dtype: float64

In [8]:
df['salary_upper'].describe()

count      4770.000000
mean     137757.399790
std      176217.730129
min          12.000000
25%       78000.000000
50%      108000.000000
75%      156000.000000
max     2880000.000000
Name: salary_upper, dtype: float64

### Average salary

In [9]:
df['salary_average'] = (df['salary_upper'] + df['salary_lower'])/2
df['salary_average']

0                NaN
1                NaN
2       30000.000000
3       63000.000000
4       70200.000000
            ...
8410   132000.000000
8411    72000.000000
8412    28200.000000
8413   180000.000000
8414   144000.000000
Name: salary_average, Length: 8415, dtype: float64

### Top 5 postings by salary

In [10]:
# df.groupby(['company']).describe().head(5)
df.sort_values(by=['salary_average'], ascending=False).head()

,job_title,company,salary,job_type,years_experience,tech_stack,job_description,industry,function,roles,date_posted,url,salary_lower,salary_upper,salary_average
645,Sr. Partner Development Manager,Amazon Web Services Singapore Private Limited,"['1500000', '2880000']",permanent,"['10', '15']","['Web Services', 'Cloud Computing', 'Amazon We...",Would you like to be part of a team that is re...,['Other'],['IT'],['Other Software/Hardware/EDP'],2022-03-15,https://www.monster.com.sg/seeker/job-details?...,1500000.000000,2880000.000000,2190000.000000
6942,Sr. Partner Development Manager,Amazon Web Services Singapore Private Limited,"['1500000', '2880000']",permanent,"['10', '15']","['Tableau', 'Cloud Computing', 'Amazon Web Ser...",Job summary\nAmazon Web Services (AWS) is lead...,['Other'],['IT'],['Other Software/Hardware/EDP'],2022-03-16,https://www.monster.com.sg/seeker/job-details?...,1500000.000000,2880000.000000,2190000.000000
644,Sr. Partner Development Manager,Amazon Web Services Singapore Private Limited,"['1500000', '2880000']",permanent,"['10', '15']","['Web Services', 'Cloud Computing', 'Amazon We...",Would you like to be part of a team that is re...,['Other'],['IT'],['Other Software/Hardware/EDP'],2022-03-15,https://www.monster.com.sg/seeker/job-details?...,1500000.000000,2880000.000000,2190000.000000
643,Sr. Partner Development Manager,Amazon Web Services Singapore Private Limited,"['1500000', '2880000']",permanent,NaN,"['Web Services', 'Cloud Computing', 'Amazon We...",Principal Partner Development Manager - Global...,['Other'],['IT'],['Other Software/Hardware/EDP'],2022-03-15,https://www.monster.com.sg/seeker/job-details?...,1500000.000000,2880000.000000,2190000.000000
642,Sr. Partner Development Manager,Amazon Web Services Singapore Private Limited,"['1500000', '2880000']",permanent,"['10', '15']","['Tableau', 'Cloud Computing', 'Amazon Web Ser...",Job summary\nAmazon Web Services (AWS) is lead...,['Other'],['IT'],['Other Software/Hardware/EDP'],2022-03-15,https://www.monster.com.sg/seeker/job-details?...,1500000.000000,2880000.000000,2190000.000000

### Upper and lower years of experience

In [11]:
def experience_lower(x):
    if type(x) != float:
        x = x[1:-1].split(', ')
        if x[0][0] == "'":
            return [int(x[1:-1]) for x in x][0]
        else:
            return [int(x) for x in x][0]
    else:
        return np.nan
        
def experience_upper(x):
    if type(x) != float:
        x = x[1:-1].split(', ')
        if x[0][0] == "'":
            return [int(x[1:-1]) for x in x][1]
        else:
            return [int(x) for x in x][1]
    else:
        return np.nan

df['experience_lower'] = df['years_experience'].apply(experience_lower)
df['experience_upper'] = df['years_experience'].apply(experience_upper)

In [12]:
df['experience_lower'].describe()

count   7340.000000
mean       4.689918
std        3.217176
min        0.000000
25%        2.000000
50%        5.000000
75%        7.000000
max       18.000000
Name: experience_lower, dtype: float64

In [13]:
df['experience_upper'].describe()

count   7340.000000
mean       7.528065
std        3.660724
min        0.000000
25%        5.000000
50%        7.000000
75%       10.000000
max       21.000000
Name: experience_upper, dtype: float64

##